<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capstone ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar-brand navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="@Url.Content("~/Images/mini_logo.png")" />
                @Html.ActionLink("SpotR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse waves-effect waves-light">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Create A Workout!", "Create", "Workouts")</li>
                    <li>@Html.ActionLink("Follow a Trainer", "Index", "Users")</li>
                    <li>@Html.ActionLink("My Exercises", "Index", "Exercis")</li>
                    <li>@Html.ActionLink("My Workouts", "Index", "Workouts")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
