@{
    ViewBag.Title = "Follow";

    var allTrainers = ViewBag.AllTrainers;
    var CurrentTrainers = ViewBag.CurrentTrainers;
    var checkCreated = false;
}

@*<form asp-controller="UserSort" asp-action="Follow" method="get">
    <p>
        User: <input type="text" name="SearchString">
        <input type="submit" name="FindTrainer" /> 
    </p>
</form>*@

@using (Html.BeginForm("Follow", "Users", FormMethod.Get))
{
    <strong>
        Enter: @Html.TextBox("id")
    </strong><input type="submit" class="btn-toolbar" value="Search by Name" />


}


    @foreach (var item in allTrainers)
    {
        checkCreated = false;
        <div class="form-group col-lg-offset-1 well-sm">
            <form action="/Users/Follow" method="post">
                <h4>@item.FirstName @item.LastName</h4><span class="glyphicon glyphicon-bookmark"> Rating: @item.Rating</span>
                <input style="display:none" type="number" value="@item.Id" name="trainerNum" />
               
                @foreach (var train in CurrentTrainers)
                {
                    if (item.Id == train.UserId)
                    {
                        <input style="display:none" type="checkbox" name="followed">
                        <input class="btn btn-block" type="submit" value="UnFollow">
                        checkCreated = true; 
                    }
                }

                @if (checkCreated == false)
                {
                    <input style="display:none" type="checkbox" name="followed" checked="checked">
                    <h1><input class="btn btn-block" type="submit" value="Follow"></h1>
                }

               
            </form>
        </div>


    }

    @*<div class="form-group">
            <form action="/Users/Follow" method="post">
                <input type="number" value="1" name="trainerNum" />
                <input type="submit" value="Follow">
            </form>

        </div>*@
