@{
    ViewBag.Title = "Home";

    var userFollowed = ViewBag.UserFollowed;
    var allWorkouts = ViewBag.AllWorkouts;
    var allUsers = ViewBag.AllUsers;
    var allExercises = ViewBag.AllExercises;

}

<div class="jumbotron">
    <img align="middle" src="~/Images/splash_page.png" />
</div>

<div class="alert">@Html.Partial("_LoginPartial")</div>



    <h2>Workout Feed:</h2>
    <h4 class="caption">See what you and your friends are doing!</h4>
<div class="jumbotron">
    @foreach (var follower in userFollowed)
    {

        foreach (var userInfo in allUsers)
        {
            if (follower.UserId == userInfo.Id)
            {



                <section><span class="glyphicon glyphicon-user"></span> <strong>@userInfo.FirstName @userInfo.LastName</strong> has posted the workout:</section>

                foreach (var item in allWorkouts)
                {
        
                        if (item.User_Id == userInfo.Id)
                        {

                        <div class="h5"><p class="badge">@item.Name</p><sub>@item.DateCreated</sub></div>
                        foreach (var exItem in allExercises)
                        {
                            if (item.Id == exItem.Workout_Id)
                            {
                                <i>@Html.ActionLink("View Workout Details", "Details", "Exercis", new { id = exItem.Id }, null)</i>
                            }
                        }
                        
                        }
                    }

                

            }
        }
    }
</div>


    
