@{
    ViewBag.Title = "Home";

    var userFollowed = ViewBag.UserFollowed;
    var allWorkouts = ViewBag.AllWorkouts;
    var allUsers = ViewBag.AllUsers;

}

<div class="jumbotron">
    <img align="middle" src="~/Images/splash_page.png" />
</div>

<div class="alert">@Html.Partial("_LoginPartial")</div>



    <h2>Workout Feed:</h2>
    @foreach (var follower in userFollowed)
    {

        foreach (var userInfo in allUsers)
        {
            if (follower.UserId == userInfo.Id)
            {
                <p>@userInfo.FirstName @userInfo.LastName</p>
                foreach (var item in allWorkouts)
                {
                    if (item.User_Id == userInfo.Id)
                    {
                        @item.Name
                        @Html.ActionLink("Details", "Details", "Workouts",new { id = item.Id }, null)
                    }
                }

            }
        }
    }
    
