@model SpotrBeta.Models.Workout

@{
    ViewBag.Title = "Details";

    var exer = ViewBag.Exercises;
}



<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Trainer:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
           Workout Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>

<div>
    <table style="border: 2px solid black; width: 80%;">        
        @foreach (var item in exer)
        {
            <tr style="border: 1px solid black; padding: 5px;">
                <td><b>Exercise: </b></td>  <td>@item.Name</td>                
                <td><b>Weight: </b></td>     <td>@item.Weight</td> 
                <td><b>Reps: </b></td>        <td>@item.NumReps</td>
                <td><b>Rest Time: </b></td>  <td>@item.RestTime s</td>                
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
