@model SpotrBeta.Models.Exercis

@{
    ViewBag.Title = "Workout Details";
}

<h2>Workout Exercise Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
                @*@Html.DisplayNameFor(model => model.Workout.Name)*@
                @Html.DisplayName("Part of Workout:")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Workout.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumReps)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumReps)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RestTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RestTime)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Weight)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Weight)
            </dd>

        </dl>
    </div>

