@model IEnumerable<SpotrBeta.Models.Exercis>

@{
    ViewBag.Title = "Exercise page";
    var prevWorkout = "";
    var currentWorkout = "";
}

<h1>View your exercises</h1>
    @*Html.ActionLink("Create New", "Create")*@

<table class="table">
    <tr>
        <th>
        Workout Name 
        </th>
        <th>
        Exercise Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Repetitions")
        </th>
        <th>
            @Html.DisplayName("Rest (minutes)")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    currentWorkout = item.Workout.Name;
    <tr>
        <td>
            @if (currentWorkout != prevWorkout)
            {
                @Html.DisplayFor(modelItem => item.Workout.Name)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumReps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RestTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @*Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
    prevWorkout = item.Workout.Name;
}

</table>
@Html.ActionLink("Add another exercise", "Create", "Exercis")